@charset "UTF-8";

html
{
	background-color: red;
}
[data-widget="demo-book-front-page-contact-widget-main"]
{
	background-color: orange;
}

[data-widget="demo-book-front-page-home-widget-main"]
{
	background-color: green;
}

[data-widget="demo-book-front-page-not_found-widget-main"]
{
	background-color: gray;
}

[data-widget="demo-book-front-page-about-widget-main"]
{
	background-color: yellow;
}

[data-widget="demo-book-front-widget-nav"]
{
	background-color: pink;
}

[data-widget="demo-book-front-widget-layout"]
{
	background-color: blue;
}

[data-widget="demo-book-front-widget-footer"]
{
	background-color: white;
}
