
<template data-template="demo-book-front-widget-layout">
	<div data-widget="demo-book-front-widget-layout">
		<h1>Vanilla SPA</h1>

		<nav data-box="nav"></nav>

		<main data-box="main"></main>

		<footer data-box="footer"></footer>
	</div>
</template>