
<template data-template="demo-book-front-widget-nav">
	<div data-widget="demo-book-front-widget-nav">
		<a data-link="home" href="home">Home</a>
		<a data-link="about" href="about">About</a>
		<a data-link="contact" href="contact">Contact</a>
	</div>
</template>